body {
  font-family: Roboto, sans-serif;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.section-one,
.footer {
  background-color: #1f2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
}

a,
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.section-one-bottom {
  display: flex;
  justify-content: space-between;
}

.big-image {
  height: 300px;
}

.hero-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.section-one {
  padding: 30px 200px 130px 200px;
}

button {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.button-one {
  background-color: #3882F6;
  border: none;
}

.button-two {
  background-color: #3882F6;
  border: 2px solid white;
  align-self: flex-end;
}

.section-two {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 120px;
}

.card-image {
  width: 200px;
  border: 5px solid #3882F6;
  border-radius: 20px;
}

.card-text {
  width: 200px;
  margin-top: 5px;
  font-size: 21px;
  color: #5a636f;
}

.info-header {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin: 50px 0;
}

.section-three {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 140px 0;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;
  margin-right: 43px;
  font-size: 23px;
  font-weight: bold;
}

.quote-container {
  width: 830px;
  display: flex;
  flex-direction: column;
}

.section-four {
  color: white;
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.call-container {
  background-color: #3882F6;
  display: flex;
  padding: 60px 150px;
  width: 900px;
  justify-content: space-between;
  border-radius: 10px;
}

.call-header {
  font-size: 26px;
  font-weight: 900;
}

.call-text {
  font-size: 16px;
}

.footer-text {
  color: white;
  font-size: 18px;
}

.footer {
  padding: 40px;
  display: flex;
  justify-content: center;
}